@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Primary">
        <MudText Typo="Typo.h6" Class="ml-3">
            <MudIcon Icon="Icons.Material.Filled.Dashboard" Class="mr-2" />
            ProjectFlow
        </MudText>
        <MudSpacer />
        <MudText Typo="Typo.body2" Class="mr-4">
            Project Management Made Simple
        </MudText>
    </MudAppBar>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Small" Class="mt-8">
            <MudPaper Elevation="4" Class="pa-8" Style="border-radius: 16px;">
                <div class="d-flex flex-column align-center mb-6">
                    <MudAvatar Size="Size.Large" Color="Color.Primary" Class="mb-4">
                        <MudIcon Icon="Icons.Material.Filled.Dashboard" Size="Size.Large" />
                    </MudAvatar>
                    <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">
                        ProjectFlow
                    </MudText>
                    <MudText Typo="Typo.body2" Align="Align.Center" Color="Color.Tertiary">
                        Streamline your project management workflow
                    </MudText>
                </div>

                @Body

                <MudDivider Class="my-6" />

                <div class="d-flex justify-center">
                    <MudText Typo="Typo.caption" Color="Color.Tertiary">
                        © 2025 ProjectFlow. All rights reserved.
                    </MudText>
                </div>
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>